<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <p>Created with NodeJS and MongoDB</p>
    <p>I used EJS to create a Template so when you put /work for exemple in the url you get the same template but the title will change</p>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>